{% extends 'RMactivitytracker/base.html' %}

{% block content %}
<h2>{{ activity.name }}</h2>
<h3>Time Logs</h3>
<ul>
    {% for log in timelogs %}
    <li>
        Started at: {{ log.start_time }} - Ended at: {{ log.end_time }} | Duration: {{ log.end_time|timesince:log.start_time }}
    </li>
    {% endfor %}
</ul>
<a href="{% url 'new_timelog' activity_id=activity.id %}">Add New TimeLog</a>

<form action="{% url 'index' %}">
    <button type="submit">Back to Homepage</button>
</form>

{% endblock %}
